*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  height: 298px;
  overflow: hidden scroll;
  padding-top: 2px;
  gap: 30px;
}

.content__details {
  display: flex;
  flex-direction: column;
  height: 534px;
  width: 399px;
  gap: 24px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: top left;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin: 0 0 5px;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent{
  color: #545050;
}

.content__card-link {
  color: #FFF;
  text-decoration: none;
}

.content__video-card-title {
  width: 196px;
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;     
  text-overflow: ellipsis; 
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden; 
  line-height: 16.2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 2px;  
}

.search-form__fieldset > .search-form__label:hover{
  text-decoration: none;
}

.search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield {
  appearance: none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  border-left: none;
  border-right: none;
  color: #FFF;
  width: 225px;
  height: 27px;
  background-color: transparent;
}


.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
  border: 1px solid #FFF;
  width: 19px;
  height: 19px;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #FFF;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.button {
  border: 1px solid #FFF;
  background-color: transparent;
  color: #FFF;
  font-weight: 700;
  font-size: 18px;
  height: 34px;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.more-button {
  flex-shrink: 0;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 2px;    
}

/*step 6*/
.content__list-item {
  padding: 0px 3px;
  cursor: pointer;
}

.content__card-link {
  display: block;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF; 
}

/*Step 8*/
.result__video-container {
  position: relative;
}

.content__list-container {
  position: relative;
}